In [1]:
import pandas as pd

In [14]:
indivtrips = pd.read_csv('./2020 synthetic pop/indivtrips.csv')

In [15]:
indivtrips_school = indivtrips[(indivtrips['TOUR_PURPOSE'] == 'School') | (indivtrips['TOUR_PURPOSE'] == 'University')]

In [16]:
jointtrips = pd.read_csv('./2020 synthetic pop/jointtrips.csv')

In [17]:
jointtrips_school = jointtrips[(jointtrips['TOUR_PURPOSE'] == 'School') | (jointtrips['TOUR_PURPOSE'] == 'University')]

In [18]:
trips_school = pd.concat([indivtrips_school[['TOUR_PURPOSE', 'ORIG_MGRA', 'DEST_MGRA']],
                          jointtrips_school[['TOUR_PURPOSE', 'ORIG_MGRA', 'DEST_MGRA']]], ignore_index = True)

In [19]:
trips_school

       TOUR_PURPOSE  ORIG_MGRA  DEST_MGRA
0            School          1        219
1            School        219        212
2            School        212       2610
3            School       2610          1
4            School          1       1486
...             ...        ...        ...
985489       School      23001      22959
985490       School      22959      22999
985491       School      22999      23001
985492       School      23001      22999
985493       School      22999      23001

[985494 rows x 3 columns]